@charset "UTF-8";

.profilebutton {
	border: none;
	color: white;
	font-weight: large;
	font-size: 15px;
	padding: 20px;
	background: none;
	cursor: pointer;
	border-radius: 10px;
	background-color: green;
	width: 5%;
}

.centertable {
	margin-left: 20%;
	margin-right: auto;
	margin-top: 132px;
	padding: 1em;
	height: 60vh;
	width: 60%;
	font-size: large;
	font-family: sans-serif;
	border: 2px solid black;
	background-color:#DCDCDC;
}

.centertable td {
	border: 2px solid black;
	color:black;
}
.centertable input {
	font-size:x-large;
}

.centertable th {
	text-align: left;
	border: 2px solid black;
	color:black;
}
.centertable tr:nth-child(even){
	
	background-color:white;
	color:green;
}
.acceptbutton{
	color:black;
	font-weight:large;
	font-size:15px;
	padding:20px;
	background:none;
	cursor:pointer;
	border-radius:10px;
}
.acceptbutton:hover{
	background-color:green;
	color:white;
}
.acceptbutton:active{
		background-color:white;
		color:green;
	 box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.rejectbutton{
	list-style-type:none;
	display:inline-block;
	margin-top:36px;
	color:black;
	font-weight:large;
	font-size:15px;
	background:none;
	cursor:pointer;
	padding:20px;
	border-radius:10px;
	
}
.rejectbutton:hover{
	background-color:red;
	color:black;
}

.rejectbutton:active{
		background-color:red;
		color:white;
	 box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.transactiontable{
	
	/*margin-right: auto;
	margin-top: 132px;
	padding: 1em;
	height: 60vh;
	width: 60%;
	font-size: large;
	font-family: sans-serif;
	border: 2px solid black;
	color:green;
	background-color:#DCDCDC;*/
	margin-left: 10%;
    margin-right: auto;
    margin-top: 132px;
    padding: -0.5em;
    height: 60vh;
    width: -15%;
    font-size: medium;
    font-family: sans-serif;
    border: 2px solid black;
    background-color: #DCDCDC;
    text-align: center;
}
.transactiontable td {
	border: 2px solid black;
	text-align:center;
}
.transactiontable input {
	font-size:x-large;
}

.transactiontable th {
	text-align: left;
	border: 2px solid black;
}
.searchbar{
	margin-top: 0px;
    margin-left: 684px;
}
.searchbar input{
	width: 50%;
    margin-left: 14px;
    height: 38px;
    padding: 5px;
    margin-top: 100px;
}
.searchbar label{
	margin-left: -200px;
    font-size: 23px;
}
#searchbutton{
	border: none;
    width: 100px;
    height: 52px;
    cursor: pointer;
    background-color: green;
    color: white;
}
#searchbutton :hover{
	background-color:white;
	color:green;
	width:50px;
}
#searchbutton:active{
		background-color:green;
		color:white;
	 box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#errormessage{
	margin-top: 4%;
    color: red;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
#message{
	margin-top: 4%;
    color: green;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
