@charset "UTF-8";


.login{
	width:350px;
	margin-left:18%;
	margin-top:18%;
	padding:35px;
	display:inline-block;
	border-radius:30px;
	text-align:center;
	color:darkgrey;
}
table td{
	padding:8px;
}

.whole{
	    background-image: url(../Images/jane_doe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;/*932*//*871*/
    width: 100%;
    overflow: hidden;
}
.logintable{
	  margin-top: -154%;
    margin-left: 46%;
    background: white;
    color: black;
    padding: 3em;
    background-color: #c9cdd1;
    font-size: x-large;
    border-radius: 30px;
    
}
body{
	background-color:darkgray;
}

#logo{
	margin-top: 21%;
    margin-left: 55%;
}
#header{
	font-size:50px;
}
.button{
	background-color:#4CAF50;
	border:none;
	color:white;
	border-radius:50px;
	padding:10px 10px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:10px;
	cursor:pointer;
	font-weight:bold;
	font-size:30px;
}
.button:hover{
	background-color:white;
	color:#4CAF50;
}
.button:active{
		background-color:white;
	 box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.input{
	border:none;
	padding:10px;
	border-radius:20px;
	color:black;
	border-bottom:5px solid darkgray;
}

#loginmessage{
	margin-top: -5%;
    margin-left: 38%;
    font-size: x-large;
    color: green;
}
#loginerrormessage{
	margin-top:-25px;
    margin-left: 38%;
    font-size: x-large;
    color: red;
    
}
